<br>

<body>
<center>

	<div id="header">
		<h1> Profile </h1>
	</div>

	<h2 id="follow"> Strenghts & Weaknesses</h2> <br>

	<div class="profiletext">
		<p> {{message1}} </p>
		<p style="font-size:20px">{{firstS}} <br>
		{{secondS}} <br>
		{{thirdS}} </p>
		<p style="font-size:16px"> <a href="/mystrengths"> Edit </a> </p>
	</div>

	<div class="profiletext">
		<p> {{message2}} </p>
		<p style="font-size:20px">{{firstW}} <br>
		{{secondW}} <br>
		{{thirdW}} </p>
		<p style="font-size:16px"> <a href="/myweaknesses"> Edit </a> </p>
	</div>

	<div class="profiletext" onClick="location.href='/allprogressreports'">
		<p> Your Progress Reports </p>
	</div>

	<a href="/homepage" class="backbutton"><p style="font-size: 20px";>Back<p></a>


</center>
</body>
