<br>

<body>
<center>

	<div id="header">
		<h1> Progress Report  </h1>
	</div>


	{{#if error}}
   		<h3 class="alert">{{error}}</h3>
	{{/if}}

	{{#if firstS}}
		<h3 id="follow"> input some thoughts on the exercise you choose to implement </h3> <br>

		<form method="POST" action="/progressreport">
				<label> Which Character Strength did you do the character strength for? </label>
				<select name="characterstrength">
					<option value="">--Please choose an option--</option>
						<optgroup label="Top Strengths">
							<option value="{{firstS}}"> {{firstS}} </option>
							<option value="{{secondS}}"> {{secondS}} </option>
							<option value="{{thirdS}}"> {{thirdS}} </option>
						</optgroup>
						<optgroup label="Bottom Strengths">
							<option value="{{firstW}}"> {{firstW}} </option>
							<option value="{{secondW}}"> {{secondW}} </option>
							<option value="{{thirdW}}"> {{thirdW}} </option>
						</optgroup>
				</select>

				<br> 
				<br> 

				<label> Did you find this helpful? (on a scale of 1-10) </label>

				1 <input type="radio" name="helpful" value="one"> 
				2 <input type="radio" name="helpful" value="two"> 
				3 <input type="radio" name="helpful" value="three"> 
				4 <input type="radio" name="helpful" value="four"> 
				5 <input type="radio" name="helpful" value="five"> 
				6 <input type="radio" name="helpful" value="six"> 
				7 <input type="radio" name="helpful" value="seven"> 
				8 <input type="radio" name="helpful" value="eight">  
				9 <input type="radio" name="helpful" value="nine"> 
				10 <input type="radio" name="helpful" value="ten"> 

				<br>
				<br>

				<label> Would you do this exercise again? (Yes or No?) </label>
				
				Yes <input type="radio" name="again" value="yes"> 
				No <input type="radio" name="again" value="no"> 

				<br>
				<br>

				<label> Do you feel that this excerise has carried over to the rest of your day/life (Yes or No, elaborate a bit) </label>

				<br> 

				Yes <input type="radio" name="carryover" value="yes"> 
				No <input type="radio" name="carryover" value="no"> 

				<br>
				<textarea name="carryovercomment" >Enter text here...</textarea>

				<br>
				<br>

				<label> Would you recommend this to a friend? (Yes or No) </label>

				Yes <input type="radio" name="friend" value="yes"> 
				No <input type="radio" name="friend" value="no"> 

				<br>
				<br>

				<label> Anything you like to add or comment about this experience/exercise? </label>

				<br>
				<textarea name="extracomment" >Enter text here...</textarea>
				<br>


				<input type="submit">	
		</form>
	{{/if}}

</center>
</body>