<br>

<body>
<center>

	<div id="header">
		<h1> Your Progress Reports  </h1>
	</div>


	{{#if error}}
   		<h3 class="alert">{{error}}</h3>
	{{/if}}


	<ol>
		<table>
			<thead>
				<tr>
					<th> Character Strength  </th>
					<th> Was it helpful? </th>
					<th> Would you do it again? </th>
					<th> Did it carry over in your life? </th>
					<th> Comment: </th>
					<th> Would you recommend to a friend? </th>
					<th> Other Comments</th>
				</tr>
			</thead>
			<tbody>
				{{#each all}}
				<tr>
					<td> {{ characterstrength }} </td>
					<td> {{ helpful }} </td>
					<td> {{ again }} </td>
					<td> {{ carryover }} </td>
					<td> {{ carryovercomment }} </td>
					<td> {{ friend }} </td>
					<td> {{extracomment}} </td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</ol>

	<a href="/homepage" class="backbutton"><p>Back<p></a>

</center>
</body>